.filter__header {
  display: flex;
  height: 35px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
  margin-top: 32px;
  padding: 0 35px 0;
}

@media screen and (max-width: 500px) {
  .filter__header {
    padding: 0 25px 0;
    margin-top: 10px;
  }
}
